.table {
    width: 90vw;
    min-width: 700px;
    margin: 10px auto;
    overflow: auto;
}

.ReportsPage_table th {
    border: solid 1px black;
    padding: 15px;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 15px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
}