.table, .ReportsPage_table {
    min-width: 700px;
    width: 90%;
}

.ReportsPage_table th {
    border: solid 1px black;
    padding: 15px;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 15px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
}