.SingleReport_table td {
    border: solid 1px black;
    padding: 15px;
    font-size: 1.1rem;
}

.SingleReport_table td:nth-child(5), .SingleReport_table td:nth-child(6) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SingleReport_ico {
    width: 30px;
}