.CreateReportPage_container {
    margin-top: 100px;
}

.CreateReportPage_leftDiv {
    border-right: solid 1px black;
    text-align: center;
    word-wrap: break-word;
}

.CreateReportPage_leftDiv p {
    color: black;
}