.SelectCandidate_header {
    padding-bottom: 20px;
    word-wrap: break-word;
}

.SelectCandidate_outerDiv {
    margin-bottom: 15px;
    z-index: 99;
}

.SelectCandidate_outerDiv:hover {
    cursor: pointer;
}

.SelectCandidate_card {
    border: solid 1px black;
    padding: 10px;
    word-wrap: break-word;
    min-height: 130px;
}

.SelectCandidate_card:hover {
    cursor: pointer;
    background-color: #E3F2FD;
}

.active {
    background-color: #E3F2FD;
}

.SelectCandidate_nextButton {
    margin: auto 10px auto auto;
}