.SelectCandidate_header {
    padding-bottom: 20px;
}

.SelectCandidate_outerDiv {
    margin-bottom: 15px;
    z-index: 99;
}

.SelectCandidate_outerDiv:hover {
    cursor: pointer;
}

.SelectCandidate_card {
    border: solid 1px black;
    padding: 10px;
}

.SelectCandidate_card:hover {
    cursor: pointer;
    background-color: #E3F2FD;
}

.active {
    background-color: #E3F2FD;
}