@import url('https://fonts.googleapis.com/css?family=Comfortaa|Quattrocento+Sans:400,700');

body {
    margin: 0;
    padding: 0;
}

.Header_mainStyle {
    width: 100vw;
    padding: 20px;
    background-color: #2196F3;
}

.Header_title {
    font-size: 2rem;
    color: white;
    margin: 0;
}

.Header_buttons {
    margin: 5px;
    font-size: 1rem;
    min-width: 140px;
}